section.story {
  display: grid;
  grid-template-columns: [line-0]5vw [line-1]90vw [line-2]5vw [line-3];
  grid-template-rows: [row-0]auto [row-1]50vh [row-2]auto [row-3]auto [row-4]auto [row-5];

  h2 {
    padding: 0;
    margin: 0;
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-1;
    font-size: 50px;
    text-align: left;
  }

  img {
    grid-column: line-1 / line-2;
    grid-row: row-1 / row-2;
    width: 80vw;
    height: 50vh;
    justify-self: center;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: black;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      text-align: left;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
      text-align: left;
    }
  }

  div {
    grid-column: line-1 / line-2;
    grid-row: row-4 / row-5;

    p {
      font-size: 16px;
      margin: 3vh 0;
    }

    h3 {
      margin-bottom: 0;
      font-size: 24px;

      span {
        font-size: 46px
      }
    }
  }
}

@media all and (min-width: 800px) {
  section.story {
    display: grid;
    grid-template-columns: [line-0]12.5vw [line-1]75vw [line-2]12.5vw [line-3];
    grid-template-rows: [row-0]auto [row-1]65vh [row-2]auto [row-3]auto [row-4]auto [row-5];

    h2 {
      padding: 0;
      margin: 0;
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
      font-size: 60px;
    }

    img {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      width: 75vw;
      height: 60vh;
      justify-self: center;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 16px;

      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-2 / row-3;
        text-align: left;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-3 / row-4;
        text-align: left;
      }
    }

    div {
      grid-column: line-1 / line-2;
      grid-row: row-4 / row-5;

      p {
        font-size: 16px;
        margin: 3vh 0;
      }
    }
  }
}
