section.article_list {
  display: grid;
  grid-template-columns: [line-0]15vw [line-1]75vw [line-2]15vw [line-3];
  grid-template-rows: [row-0]40vh [row-1]auto [row-2]auto [row-3]auto [row-4];

  a {
    text-decoration: none;
    color: #60348B;
  }

  img {
    grid-column: line-1 / line-2;
    grid-row: row-0 / row-1;
    width: 70vw;
    height: 35vh;
    place-self: center;
  }

  h2 {
    text-align: left;
    grid-column: line-1 / line-2;
    grid-row: row-1 / row-2;
    padding: 0;
    margin: 0;
    font-size: 40px;
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: left;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
    }
  }
}

@media all and (min-width: 900px) {
  section.article_list {
    display: grid;
    grid-template-columns: [line-0]10vw [line-1]40vw [line-2]40vw [line-3]10vw [line-4];
    grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3];
    padding: 5vh 0;

    a {
      text-decoration: none;
      color: #60348B;
    }

    img {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-3;
      width: 35vw;
      height: 35vh;
      place-self: center;
    }

    h2 {
      grid-column: line-2 / line-3;
      grid-row: row-0 / row-1;
      padding: 0;
      margin: 0;
      font-size: 60px;
      text-align: left;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 18px;

      &:nth-of-type(1) {
        grid-column: line-2 / line-3;
        grid-row: row-1 / row-2;
        text-align: left;
      }

      &:nth-of-type(2) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
        text-align: left;
      }
    }
  }
}
