footer {
  display: grid;
  grid-template-columns: [line-0]5vw [line-1]90vw [line-2]5vw [line-3];
  grid-template-rows: [row-0]auto [row-1]auto [row-2]auto [row-3]auto [row-4];
  padding-top: 10vh;

  p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
      margin-bottom: 3vh;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      margin-bottom: 3vh;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      margin-bottom: 3vh;
    }

    &:nth-of-type(4) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
    }

    &:nth-of-type(5) {
      grid-column: line-1 / line-2;
      grid-row: row-4 / row-5;
    }
  }
}

@media all and (min-width: 700px) {
  footer {
    display: grid;
    grid-template-columns: [line-0]10vw [line-1]80vw [line-2]10vw [line-3];
    grid-template-rows: [row-0]auto [row-1]auto [row-2];
    padding-top: 10vh;

    p {
      padding: 0;
      margin: 0;

      &:nth-of-type(1) {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        text-align: left;
        align-self: center;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        text-align: right;
        align-self: center;
      }

      &:nth-of-type(3) {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
        text-align: center;
        margin-bottom: 3vh;
      }

      &:nth-of-type(4) {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
        text-align: left;
      }

      &:nth-of-type(5) {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
        text-align: right;
      }
    }
  }
}
