header {
  display: grid;
  grid-template-columns: [line-0]10vw [line-1]80vw [line-2]10vw [line-3];
  grid-template-rows: [row-0]30vh [row-1]30vh [row-2];


  h1 {
    grid-column: line-0 / line-3;
    grid-row: row-0 / row-1;
    place-self: center;
    font-size: 90px;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 100%;
  }

  nav {
    grid-column: line-1 / line-2;
    grid-row: row-1 / row-2;
    place-self: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 23px;
  }

  li {
    display: block;
    text-align: center;
    padding: 1vh 0;
    a {
      color: #007F4A;
      text-decoration: none;
      padding: 0px 20px;
    }
  }
}

@media all and (min-width: 700px) {
  header {
    display: grid;
    grid-template-columns: [line-0]10vw [line-1]80vw [line-2]10vw [line-3];
    grid-template-rows: [row-0]20vh [row-1]10vh [row-2];


    h1 {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
      place-self: center;
      font-size: 90px;
      padding: 0;
      margin: 0;
      text-align: center;
      line-height: 100%;
    }

    nav {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
      place-self: center;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-size: 18px;
      text-align: center;
    }

    li {
      display: inline;
      padding: 0 1vw;
      a {
        display: inline-block;
        color: #007F4A;
        text-decoration: none;
      }
    }
  }
}
