section.three_articles {
  display: grid;
  grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
  grid-template-rows: [row-0]40vh [row-1]auto [row-2]auto [row-3]40vh [row-4]auto [row-5]auto [row-6]40vh [row-7]auto [row-8]auto [row-9];
  justify-content: center;

  a {
    text-decoration: none;
    color: #60348B;
  }

  img {
    width: 70vw;
    height: 30vh;
    place-self: center;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-2;
      grid-row: row-6 / row-7;
    }
  }

  h2 {
    padding: 0;
    margin: 0;
    font-size: 50px;
    text-align: left;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-4 / row-5;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-2;
      grid-row: row-7 / row-8;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: black;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      text-align: left;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      text-align: right;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-2;
      grid-row: row-5 / row-6;
      text-align: left;
    }

    &:nth-of-type(4) {
      grid-column: line-1 / line-2;
      grid-row: row-5 / row-6;
      text-align: right;
    }

    &:nth-of-type(5) {
      grid-column: line-1 / line-2;
      grid-row: row-8 / row-9;
      text-align: left;
    }

    &:nth-of-type(6) {
      grid-column: line-1 / line-2;
      grid-row: row-8 / row-9;
      text-align: right;
    }
  }
}

section.two_articles {
  display: grid;
  grid-template-columns: [line-0]15vw [line-1]70vw [line-2]15vw [line-3];
  grid-template-rows: [row-0]40vh [row-1]auto [row-2]auto [row-3]40vh [row-4]auto [row-5]auto [row-6];
  justify-content: center;
  // margin-top: 10vh;

  a {
    text-decoration: none;
    color: #60348B;
  }

  img {
    width: 70vw;
    height: 30vh;
    place-self: center;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-0 / row-1;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-3 / row-4;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-align: left;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-1 / row-2;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-4 / row-5;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: black;

    &:nth-of-type(1) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      text-align: left;
    }

    &:nth-of-type(2) {
      grid-column: line-1 / line-2;
      grid-row: row-2 / row-3;
      text-align: right;
    }

    &:nth-of-type(3) {
      grid-column: line-1 / line-2;
      grid-row: row-5 / row-6;
      text-align: left;
    }

    &:nth-of-type(4) {
      grid-column: line-1 / line-2;
      grid-row: row-5 / row-6;
      text-align: right;
    }
  }
}

@media all and (min-width: 900px) {
  section.three_articles {
    display: grid;
    grid-template-columns: [line-0]28vw [line-1]28vw [line-2]28vw [line-3];
    grid-template-rows: [row-0]40vh [row-1]auto [row-2]auto [row-3]auto [row-4];
    grid-column-gap: 2vw;
    justify-content: center;

    img {
      width: 28vw;
      height: 35vh;
      place-self: center;

      &:nth-of-type(1) {
        grid-column: line-0 / line-1;
        grid-row: row-0 / row-1;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
      }

      &:nth-of-type(3) {
        grid-column: line-2 / line-3;
        grid-row: row-0 / row-1;
      }
    }

    h2 {
      padding: 0;
      margin: 0;
      font-size: 40px;

      &:nth-of-type(1) {
        grid-column: line-0 / line-1;
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(3) {
        grid-column: line-2 / line-3;
        grid-row: row-2 / row-3;
      }
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 14px;

      &:nth-of-type(1) {
        grid-column: line-0 / line-1;
        grid-row: row-3 / row-4;
        text-align: left;
      }

      &:nth-of-type(2) {
        grid-column: line-0 / line-1;
        grid-row: row-1 / row-2;
        text-align: left;
      }

      &:nth-of-type(3) {
        grid-column: line-1 / line-2;
        grid-row: row-3 / row-4;
        text-align: left;
      }

      &:nth-of-type(4) {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
        text-align: left;
      }

      &:nth-of-type(5) {
        grid-column: line-2 / line-3;
        grid-row: row-3 / row-4;
        text-align: left;
      }

      &:nth-of-type(6) {
        grid-column: line-2 / line-3;
        grid-row: row-1 / row-2;
        text-align: left;
      }
    }
  }

  section.two_articles {
    display: grid;
    grid-template-columns: [line-0]42vw [line-1]42vw [line-2];
    grid-template-rows: [row-0]45vh [row-1]auto [row-2]auto [row-3]auto [row-4];
    grid-column-gap: 4vw;
    justify-content: center;

    img {
      width: 42vw;
      height: 40vh;
      place-self: center;

      &:nth-of-type(1) {
        grid-column: line-0 / line-1;
        grid-row: row-0 / row-1;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-0 / row-1;
      }
    }

    h2 {
      margin: 0;
      padding: 0;
      font-size: 40px;

      &:nth-of-type(1) {
        grid-column: line-0 / line-1;
        grid-row: row-2 / row-3;
      }

      &:nth-of-type(2) {
        grid-column: line-1 / line-2;
        grid-row: row-2 / row-3;
      }
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 14px;

      &:nth-of-type(1) {
        grid-column: line-0 / line-1;
        grid-row: row-3 / row-4;
        text-align: left;
      }

      &:nth-of-type(2) {
        grid-column: line-0 / line-1;
        grid-row: row-1 / row-2;
        text-align: left;
      }

      &:nth-of-type(3) {
        grid-column: line-1 / line-2;
        grid-row: row-3 / row-4;
        text-align: left;
      }

      &:nth-of-type(4) {
        grid-column: line-1 / line-2;
        grid-row: row-1 / row-2;
        text-align: left;
      }
    }
  }
}
