@import "header";
@import "home";
@import "article_layout";
@import "footer";
@import "article_list";

body {
  min-height: 100vh;
  max-width: 100vw;
  // overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #60348B;
}

main {
  h2 {
    font-size: 40px;
    text-align: center;
    margin: 3vh 0;
    padding: 0;
  }
}

main {
  background-color: #007F4A;
}

header {
  background-color: #60348B;
}

footer {
  background-color: #60348B;
}

h1 {
  color: #007F4A;
}

h2 {
  color: #60348B;
}

h3 {
  color: #60348B;
}

p {
  color: black;
}
