header {
  display: grid;
  grid-template-columns: [line-0] 10vw [line-1] 80vw [line-2] 10vw [line-3];
  grid-template-rows: [row-0] 30vh [row-1] 30vh [row-2];
}
header h1 {
  grid-column: line-0/line-3;
  grid-row: row-0/row-1;
  place-self: center;
  font-size: 90px;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 100%;
}
header nav {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  place-self: center;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 23px;
}
header li {
  display: block;
  text-align: center;
  padding: 1vh 0;
}
header li a {
  color: #007F4A;
  text-decoration: none;
  padding: 0px 20px;
}

@media all and (min-width: 700px) {
  header {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 80vw [line-2] 10vw [line-3];
    grid-template-rows: [row-0] 20vh [row-1] 10vh [row-2];
  }
  header h1 {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    place-self: center;
    font-size: 90px;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 100%;
  }
  header nav {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    place-self: center;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
  }
  header li {
    display: inline;
    padding: 0 1vw;
  }
  header li a {
    display: inline-block;
    color: #007F4A;
    text-decoration: none;
  }
}
section.three_articles {
  display: grid;
  grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
  grid-template-rows: [row-0] 40vh [row-1] auto [row-2] auto [row-3] 40vh [row-4] auto [row-5] auto [row-6] 40vh [row-7] auto [row-8] auto [row-9];
  justify-content: center;
}
section.three_articles a {
  text-decoration: none;
  color: #60348B;
}
section.three_articles img {
  width: 70vw;
  height: 30vh;
  place-self: center;
}
section.three_articles img:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
}
section.three_articles img:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
}
section.three_articles img:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-6/row-7;
}
section.three_articles h2 {
  padding: 0;
  margin: 0;
  font-size: 50px;
  text-align: left;
}
section.three_articles h2:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
}
section.three_articles h2:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-4/row-5;
}
section.three_articles h2:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-7/row-8;
}
section.three_articles p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: black;
}
section.three_articles p:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  text-align: left;
}
section.three_articles p:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  text-align: right;
}
section.three_articles p:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-5/row-6;
  text-align: left;
}
section.three_articles p:nth-of-type(4) {
  grid-column: line-1/line-2;
  grid-row: row-5/row-6;
  text-align: right;
}
section.three_articles p:nth-of-type(5) {
  grid-column: line-1/line-2;
  grid-row: row-8/row-9;
  text-align: left;
}
section.three_articles p:nth-of-type(6) {
  grid-column: line-1/line-2;
  grid-row: row-8/row-9;
  text-align: right;
}

section.two_articles {
  display: grid;
  grid-template-columns: [line-0] 15vw [line-1] 70vw [line-2] 15vw [line-3];
  grid-template-rows: [row-0] 40vh [row-1] auto [row-2] auto [row-3] 40vh [row-4] auto [row-5] auto [row-6];
  justify-content: center;
}
section.two_articles a {
  text-decoration: none;
  color: #60348B;
}
section.two_articles img {
  width: 70vw;
  height: 30vh;
  place-self: center;
}
section.two_articles img:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
}
section.two_articles img:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
}
section.two_articles h2 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-align: left;
}
section.two_articles h2:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
}
section.two_articles h2:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-4/row-5;
}
section.two_articles p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: black;
}
section.two_articles p:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  text-align: left;
}
section.two_articles p:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  text-align: right;
}
section.two_articles p:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-5/row-6;
  text-align: left;
}
section.two_articles p:nth-of-type(4) {
  grid-column: line-1/line-2;
  grid-row: row-5/row-6;
  text-align: right;
}

@media all and (min-width: 900px) {
  section.three_articles {
    display: grid;
    grid-template-columns: [line-0] 28vw [line-1] 28vw [line-2] 28vw [line-3];
    grid-template-rows: [row-0] 40vh [row-1] auto [row-2] auto [row-3] auto [row-4];
    grid-column-gap: 2vw;
    justify-content: center;
  }
  section.three_articles img {
    width: 28vw;
    height: 35vh;
    place-self: center;
  }
  section.three_articles img:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
  }
  section.three_articles img:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
  }
  section.three_articles img:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
  }
  section.three_articles h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;
  }
  section.three_articles h2:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-2/row-3;
  }
  section.three_articles h2:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
  }
  section.three_articles h2:nth-of-type(3) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
  }
  section.three_articles p {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  section.three_articles p:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-3/row-4;
    text-align: left;
  }
  section.three_articles p:nth-of-type(2) {
    grid-column: line-0/line-1;
    grid-row: row-1/row-2;
    text-align: left;
  }
  section.three_articles p:nth-of-type(3) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    text-align: left;
  }
  section.three_articles p:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    text-align: left;
  }
  section.three_articles p:nth-of-type(5) {
    grid-column: line-2/line-3;
    grid-row: row-3/row-4;
    text-align: left;
  }
  section.three_articles p:nth-of-type(6) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    text-align: left;
  }

  section.two_articles {
    display: grid;
    grid-template-columns: [line-0] 42vw [line-1] 42vw [line-2];
    grid-template-rows: [row-0] 45vh [row-1] auto [row-2] auto [row-3] auto [row-4];
    grid-column-gap: 4vw;
    justify-content: center;
  }
  section.two_articles img {
    width: 42vw;
    height: 40vh;
    place-self: center;
  }
  section.two_articles img:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-0/row-1;
  }
  section.two_articles img:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
  }
  section.two_articles h2 {
    margin: 0;
    padding: 0;
    font-size: 40px;
  }
  section.two_articles h2:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-2/row-3;
  }
  section.two_articles h2:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
  }
  section.two_articles p {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  section.two_articles p:nth-of-type(1) {
    grid-column: line-0/line-1;
    grid-row: row-3/row-4;
    text-align: left;
  }
  section.two_articles p:nth-of-type(2) {
    grid-column: line-0/line-1;
    grid-row: row-1/row-2;
    text-align: left;
  }
  section.two_articles p:nth-of-type(3) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    text-align: left;
  }
  section.two_articles p:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    text-align: left;
  }
}
section.story {
  display: grid;
  grid-template-columns: [line-0] 5vw [line-1] 90vw [line-2] 5vw [line-3];
  grid-template-rows: [row-0] auto [row-1] 50vh [row-2] auto [row-3] auto [row-4] auto [row-5];
}
section.story h2 {
  padding: 0;
  margin: 0;
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  font-size: 50px;
  text-align: left;
}
section.story img {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  width: 80vw;
  height: 50vh;
  justify-self: center;
}
section.story p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: black;
}
section.story p:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  text-align: left;
}
section.story p:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
  text-align: left;
}
section.story div {
  grid-column: line-1/line-2;
  grid-row: row-4/row-5;
}
section.story div p {
  font-size: 16px;
  margin: 3vh 0;
}
section.story div h3 {
  margin-bottom: 0;
  font-size: 24px;
}
section.story div h3 span {
  font-size: 46px;
}

@media all and (min-width: 800px) {
  section.story {
    display: grid;
    grid-template-columns: [line-0] 12.5vw [line-1] 75vw [line-2] 12.5vw [line-3];
    grid-template-rows: [row-0] auto [row-1] 65vh [row-2] auto [row-3] auto [row-4] auto [row-5];
  }
  section.story h2 {
    padding: 0;
    margin: 0;
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    font-size: 60px;
  }
  section.story img {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    width: 75vw;
    height: 60vh;
    justify-self: center;
  }
  section.story p {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  section.story p:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-2/row-3;
    text-align: left;
  }
  section.story p:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-3/row-4;
    text-align: left;
  }
  section.story div {
    grid-column: line-1/line-2;
    grid-row: row-4/row-5;
  }
  section.story div p {
    font-size: 16px;
    margin: 3vh 0;
  }
}
footer {
  display: grid;
  grid-template-columns: [line-0] 5vw [line-1] 90vw [line-2] 5vw [line-3];
  grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3] auto [row-4];
  padding-top: 10vh;
}
footer p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
}
footer p:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  margin-bottom: 3vh;
}
footer p:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  margin-bottom: 3vh;
}
footer p:nth-of-type(3) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
  margin-bottom: 3vh;
}
footer p:nth-of-type(4) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
}
footer p:nth-of-type(5) {
  grid-column: line-1/line-2;
  grid-row: row-4/row-5;
}

@media all and (min-width: 700px) {
  footer {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 80vw [line-2] 10vw [line-3];
    grid-template-rows: [row-0] auto [row-1] auto [row-2];
    padding-top: 10vh;
  }
  footer p {
    padding: 0;
    margin: 0;
  }
  footer p:nth-of-type(1) {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    text-align: left;
    align-self: center;
  }
  footer p:nth-of-type(2) {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    text-align: right;
    align-self: center;
  }
  footer p:nth-of-type(3) {
    grid-column: line-1/line-2;
    grid-row: row-0/row-1;
    text-align: center;
    margin-bottom: 3vh;
  }
  footer p:nth-of-type(4) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    text-align: left;
  }
  footer p:nth-of-type(5) {
    grid-column: line-1/line-2;
    grid-row: row-1/row-2;
    text-align: right;
  }
}
section.article_list {
  display: grid;
  grid-template-columns: [line-0] 15vw [line-1] 75vw [line-2] 15vw [line-3];
  grid-template-rows: [row-0] 40vh [row-1] auto [row-2] auto [row-3] auto [row-4];
}
section.article_list a {
  text-decoration: none;
  color: #60348B;
}
section.article_list img {
  grid-column: line-1/line-2;
  grid-row: row-0/row-1;
  width: 70vw;
  height: 35vh;
  place-self: center;
}
section.article_list h2 {
  text-align: left;
  grid-column: line-1/line-2;
  grid-row: row-1/row-2;
  padding: 0;
  margin: 0;
  font-size: 40px;
}
section.article_list p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
}
section.article_list p:nth-of-type(1) {
  grid-column: line-1/line-2;
  grid-row: row-2/row-3;
}
section.article_list p:nth-of-type(2) {
  grid-column: line-1/line-2;
  grid-row: row-3/row-4;
}

@media all and (min-width: 900px) {
  section.article_list {
    display: grid;
    grid-template-columns: [line-0] 10vw [line-1] 40vw [line-2] 40vw [line-3] 10vw [line-4];
    grid-template-rows: [row-0] auto [row-1] auto [row-2] auto [row-3];
    padding: 5vh 0;
  }
  section.article_list a {
    text-decoration: none;
    color: #60348B;
  }
  section.article_list img {
    grid-column: line-1/line-2;
    grid-row: row-0/row-3;
    width: 35vw;
    height: 35vh;
    place-self: center;
  }
  section.article_list h2 {
    grid-column: line-2/line-3;
    grid-row: row-0/row-1;
    padding: 0;
    margin: 0;
    font-size: 60px;
    text-align: left;
  }
  section.article_list p {
    padding: 0;
    margin: 0;
    font-size: 18px;
  }
  section.article_list p:nth-of-type(1) {
    grid-column: line-2/line-3;
    grid-row: row-1/row-2;
    text-align: left;
  }
  section.article_list p:nth-of-type(2) {
    grid-column: line-2/line-3;
    grid-row: row-2/row-3;
    text-align: left;
  }
}
body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #60348B;
}

main h2 {
  font-size: 40px;
  text-align: center;
  margin: 3vh 0;
  padding: 0;
}

main {
  background-color: #007F4A;
}

header {
  background-color: #60348B;
}

footer {
  background-color: #60348B;
}

h1 {
  color: #007F4A;
}

h2 {
  color: #60348B;
}

h3 {
  color: #60348B;
}

p {
  color: black;
}

/*# sourceMappingURL=main.css.map */
